<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>
    {% for i in menu %}
    <a href="{% url i.url %}">{{ i.title }} {% if not forloop.last %} | {% endif %}</a>
    {% endfor %}
</p>
<p><h3>Facebook head page</h3></p>
<ul>
    {% for i in DB_data %}
    {% if i.is_published %}
        <h3>{{ i.photo }}</h3>
        <h4>{{ i.descripthion }}</h4>
        <p>{{ i.comments }}</p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>