{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'facebookcat/css/style.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'facebookcat/img/2021_Facebook_icon.svg' %}">
</head>
<body>
{% block hyper_links %} {% endblock %}
<p><h3>Facebook head page</h3></p>
<ul>
    {% for i in DB_data %}
    {% if i.is_published %}
        <h3>{{ i.photo }}</h3>
        <h4>{{ i.descripthion }}</h4>
        <p>{{ i.comments }}</p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>